@import url('menu.css');
@import url('activity.css');
@import url('tags.css');


body {
    font-family: arial, Verdana, "lucida console", sans-serif;
    font-size: 11px;
    padding: 0px 0px 0px 0px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ddddfb;
}

a {
    text-decoration: none;
    color: #5210c4;  /* #cc3334; */
}

a:hover {
    cursor: pointer;
    color: #4b2096;
}

textarea {
    resize: none;
}


#container {
    position: relative;
}

#header {
    margin-bottom: 10px;
}


#main {

}

#footer {
    clear: both;
    background-color: #3b3b3b;
    text-align: center;
    vertical-align: center;
    white-space: pre;
    font-size: 14px;
    font-variant: small-caps;
    font-weight: bold;
    color: white;
    height: 25px;
    padding-top: 3px;
    margin-top: 10px;
    margin-bottom: 30px;

}

.messages {
    width: 300px;
    z-index: 10;
    position: absolute;
    right: 0;
    float: right;
    clear: none;
}

.messages ul {
    list-style-type: none;
}

#lift__noticesContainer___notice {
    background-color: #deffde;
    border: 1px solid #aaffaa;
}

#lift__noticesContainer___warning {
    background-color: #ffffbf;
    border: 1px solid #f7ff6f;
}

#lift__noticesContainer___error {
    background-color: #ffaaaa;
    border: 1px solid #ff5555;
}


/* Buttons */

.button {
    display: block;
    min-width: 100px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button:hover {
    cursor: pointer;
}

.button img {
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.regular {
    border: 1px solid #ababab;
    background-color: #efefef;
}

.regular:hover {
    background-color: #ffffbf;
}

.accept {
    border: 1px solid #aaffaa;
    background-color: #deffde;
}

.accept:hover {
    background-color: #bbffbb;
}

.cancel {
    border: 1px solid #ff5555;
    background-color: #ffdddd;
}

.cancel:hover {
    background-color: #ffaaaa;
}


.addSymbol {
    border: 1px solid #aaffaa;
    border-radius: 8px;
    background-color: #deffde;
    width: 16px;
    height: 16px;
    float: left;
    text-align: center;
    margin: 2px 2px 2px 2px;
    font-weight: strong;
}

.addSymbol:hover {
    background-color: #bbffbb;
    cursor: pointer;
}



/* Blocks */

.block {
    border: 1px solid #999999;
    margin-bottom: 20px;
    clear: both;
    overflow: hidden;
    position: relative;
}

.blockheader {
    background-color: #cccccc;
    padding-left: 10px;
    height: 30px;
    width: 100%;
    display: table;
}

.vertical-align {
    display: table-cell;
    vertical-align: middle;
}

.blockheader h1 {
    height: 100%;
    font-size: 16px;
    color: #666666;
    padding-left: 40px;
    margin-bottom: 0px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 20px;
}

.blockheader input {
    border: 0;
    background-color: #dddddd;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    width: 800px;
    height: 90%;
}

.blocktoggle {
    float: left;
    clear: left;
    width: 20px;
    height: 20px;
}

.blocktoggle:hover {
    cursor: pointer;
}

.collapse {
    background: url("/images/buttons/toggle.png") 0 0;
}

.expand {
    background: url("/images/buttons/toggle.png") -20px 0;
}

.blockarea {
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    background-color: #fafafa;
    clear: both;
    overflow: hidden;
}

.blockarea h1 {
    background-color: transparent;
    font-weight: strong;
    padding-bottom: 10px;
    margin-top: 0;
    font-size: 13px;
    clear: both;
}

.blockarea label {
    float: left;
    clear: left;
    width: 100px;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
}

.blockarea input {
    float: left;
    clear: right;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    max-width: 80px;
}

.blockarea input[readonly="readonly"] {
    border: 0;
    background-color: transparent;
}

.blockarea textarea {
    float: left;
    clear: right;
    width: 90%;
    margin: auto;
    display: block;
    clear: both;
    float: none;
}

.blockarea p {
    padding-bottom: 1em;
}


.blockarea .controls {
    clear: both;
}


.hidden {
    display: none;
}

thead th {
    background-color: #d8c2ff;
}

tbody tr:nth-child(even) td, tbody tr.even td {
    background-color: #ddddfb;
}

tr:hover, tr:nth-child(even):hover td, tr.even:hover td {
    background-color: #c1a0fa;
}


/* autocomplete thingy */

.autocomplete .list {
    width: auto;
    clear: left;
}

.autocomplete .edit {
    background: url('/images/buttons/edit_off.png');
    background-repeat: no-repeat;
    width: 16px;
}

.autocomplete .edit:hover {
    cursor: pointer;
    background: url('/images/buttons/edit_on.png');
    background-repeat: no-repeat;
}

.autocomplete .delete {
    background: url('/images/buttons/delete_off.png');
    background-repeat: no-repeat;
    width: 16px;
}

.autocomplete .delete:hover {
    cursor: pointer;
    background: url('/images/buttons/delete_on.png');
    background-repeat: no-repeat;
}




.hrzone {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
}
